#nameWarning,
#passwordWarning {
    color: red;
    visibility: hidden;
    height: 5px;
}

body {
    margin: 5%;
    margin-left: 30%;
    /* margin-left: 20%; */
    margin-bottom: 5%;
}

#userName,
#password {
    width: 500px;
}

#submit {
    margin-left: 25%;
    width: 100px;
}